.accountButton {

    --icon-size: var(--size_6);

    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--size_2);
    border: 1px solid var(--text);
    justify-content: center;
    align-items: center;
}

.accountButton__iconWrapper {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
}

.accountButton__iconWrapper__strong {
    display: none;
    width: var(--icon-size);
    height: var(--icon-size);
}
.accountButton[title="Sign In with Google"] .accountButton__iconWrapper__strong {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    justify-content: center;
    align-items: center;
}

.accountButton_iconWrapper__img {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1;
    border-radius: var(--size_2);
}
.accountButton__iconWrapper__strong {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
}
