.navWrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.navWrapper__nav {
    display: flex;
    flex-direction: row;
    position: relative;
}

.navWrapper_nav__list {

    --border: 1px solid var(--text);


    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--background, black);
    color: var(--text, white);
    top: calc(var(--size_6) + calc(var(--size_2) * 2));
    right: 0em;
    width: calc(100dvw - calc(var(--size_2) * 2));
    /* opacity: 0; */
    clip-path: circle(150% at 100% 0%);
    clip-rule: evenodd;
    transition: clip-path 300ms ease-out;

    border-right: var(--border);
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
    /* pointer-events: none; */

    &[aria-hidden=false] {
        visibility: visible;
        /* pointer-events: unset; */
        /* opacity: 100; */
        clip-path: circle(0% at 100% 0%);
    }

    /* bigger than a tablet  */
    @media (min-width: 769px) {
        width: 25dvw;
    }


}

.navWrapper_nav_list__item {
    display: flex;
    flex-direction: column;
    padding: var(--size_2);
    gap: var(--size_1);

    &:hover {
        background-color: var(--primary);

        >.navWrapper_nav_list_item__link {
            color: var(--text);
        }

    }

    >.navWrapper_nav_list_item__link {
        font-family: var(--font__headers);
    }
}

.navWrapper_nav_list_item__link {
    display: flex;
    font-size: var(--size_3);
}

.navWrapper_nav__buttonWrapper {
    display: flex;
    gap: var(--size_2);
}

.navWrapper_nav_buttonWrapper__navExpand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--size_2);
    border-radius: var(--size_1);
    border: solid 0.001em var(--text);
    --icon-size: var(--size_6);
    height: var(--icon-size);
    width: var(--icon-size);
}