:root {
  
  
  /* Colors - dark by default for my linux homies */
    color-scheme: dark;
    --text: hsl(217, 39%, 94%);
    --background: hsl(222, 39%, 6%);
    --primary: hsl(217, 39%, 72%);
    --secondary: hsl(294, 39%, 35%);
    --accent: hsl(318, 39%, 52%);
  
    /* Sizes */
    --size_1: clamp(0.707rem, 0.154cqi + 0.669rem, 0.792rem);
    --size_2: clamp(1rem, 0.341cqi + 0.915rem, 1.188rem);
    --size_3: clamp(1.414rem, 0.668cqi + 1.247rem, 1.781rem);
    --size_4: clamp(1.999rem, 1.223cqi + 1.694rem, 2.672rem);
    --size_5: clamp(2.827rem, 2.147cqi + 2.29rem, 4.008rem);
    --size_6: clamp(3.998rem, 3.662cqi + 3.082rem, 6.012rem);

    scroll-behavior: smooth;
}


@media (prefers-color-scheme: light) {
  
  :root {
    color-scheme: light;
    --text: hsl(215, 40%, 6%);
      --background: hsl(225, 40%, 94%);
      --primary: hsl(217, 38%, 28%);
      --secondary: hsl(294, 39%, 65%);
      --accent: hsl(318, 39%, 48%);
  }

}