.section {
  display: flex;
  flex-direction: column;

}

.section__article {
  display: flex;
  flex-direction: column;
  padding: 90px;
}

.section_article__image {
  display: flex;
}

.section_article__contentHeader {
  display: flex;
  font-size: max(20px, 10vw);
}

.section_article__contentBody {
  display: flex;
}