.section{
  margin: calc(var(--size_6) * -1);
}

.section article {
  display: flex;
  flex-direction: column;
  min-height: 80svh;
  text-align: center;
  padding: max(var(--size_2), calc(var(--size_6) * 2));

  &:nth-of-type(odd){
    background-color: var(--accent);
    color: var(--background);
  }
}