.section {
  display: flex;
  flex-direction: column;
}

.section__article {
  display: flex;
  flex-direction: column;
  padding: var(--size_2);
}

.section_article__image {
  display: flex;
}

.section_article__contentHeader {
  display: flex;
  font-size: var(--size_6);
}

.section_article__contentBody {
  display: flex;
}